<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Scan Barcode</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="wrapper">
    <div class="data" *ngIf="data">{{data}}</div>
    <div class="buttons-container">
      <ion-button (click)="scan()" color="primary" expand="full">Scan</ion-button>
    </div>
  </div>
</ion-content>