<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Sinvher Testapplication IONIC</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="content-container">
      <h1>Sinvher Testapplication IONIC</h1>
      <h2>Hello Testuser!</h2>
    </div>
    <div class="buttons-container">
      <ion-button (click)="createProductPressed()" color="primary" expand="full" >Create Product</ion-button>
      <ion-button (click)="productListPressed()" color="secondary" expand="full" >Productlist</ion-button>
      <ion-button (click)="scanBarcodePressed()" color="tertiary" expand="full">Scan Product</ion-button>
    </div>
  </div>
  
</ion-content>
